{% extends "model-page.html" %} <!-- indica que está extendendo o coteúdo do "model-page.html" -->

{% block content %}  <!-- coloca conteúdo encapsulado dentro do block content do "model-page.html" -->

    <h2>Agendamentos</h2>

    <a href="evento/">  <!-- clicar no botão redireciona para página 'evento.html' -->
        <button type="button">Novo evento</button>
    </a>

    <ul style="font-size: 18px">    <!-- aumenta letra -->
        {% for evento in eventos %} <!-- quando está entre "chavePorcentagem" realiza comandos python -->
            <li>
                {{ evento.titulo }} - {{ evento.get_data_evento }} - {{ evento.local }}
                ( <a href="#">Editar</a>
                / <a href="evento/delete/{{ evento.id }}">Excluir</a> )
            </li>
                                    <!-- quando está entre "chaveChave" exibe um elemento -->
        {% endfor %}                <!-- este bloco escreve o titulo, a data, e o local de cada evento na lista eventos -->
    </ul>

{% endblock %}